#login1{margin:0;}
#login1>div{
	position:relative;
	padding:0;
	height:500px;
	background:url("../login/1.jpg") no-repeat;
	background-size: cover;
}
.wrapper{		
	position:absolute;
	top:50%;
	margin-top:-200px;
	left:50%;
	margin-left:-150px;
	width:300px;
	height:400px;
	background:#fff;
	border-radius:5px;
	font-family:"微软雅黑";
}
.title{					/* 标题 */
	display: inline-block;
	width:100%;
	text-align: center;
	font-size:25px;
	margin:20px 0;
}
.input{					/* 输入框 */
	position:relative;
	width:80%;
	height:60px;
	font-size:10px;
	margin:5px auto;
	overflow: hidden;	/* 隐藏不同颜色的提示下划线 */
}
.input>div{
	position:relative;
	width:100%;
	height:40px;
	border-bottom:2px solid #ccc;
	box-sizing:border-box;
	padding-left:10px;
	font-size:15px;
	line-height:40px;
}
.input>div>input{
	position:absolute;
	top:-2px;left:25px;
	margin-left:10px;
	width:80%;
	outline: 0;
	border:none;
	font-size:10px;
}
.no-password{			/* 忘记密码样式 */
	float:right;
	font-size: 10px;
	margin-right:10%;
}
.login{					/* 登录按钮初始样式 */
	width:80%;
	height:40px;
	margin:30px auto;
	border-radius:20px;
	text-align: center;
	line-height: 40px;
	font-weight: bolder;
	background: linear-gradient(to right,#90f,#3ff,#90f);     /* 设置背景渐变色 */
	background-size:300%;	/* 设置背景宽度 */
	background-position:80% 0;	/* 设置背景显示的位置 */
	color:#fff;
	letter-spacing: 5px;
	font-size:13px;
	transition:0.5s;
	cursor:pointer;		/* 设置鼠标样式 */
}
.login:hover{background-position:20% 0;}    /* 通过改变背景显示的位置达到渐变过渡效果 */
.third-party{			/* 第三方登录框 */
	width:200px;
	height:80px;
	margin:-20px auto;
	font-size:10px;
	text-align: center;
}
.third-party>p{margin-bottom:15px;}    /* 第三方登录 */
.third-party .circle{			/* 包裹第三方图标的圆 */
	display: inline-block;
	width:40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color:#fff;
	font-size: 20px;
	transition:background 0.5s;
	cursor:pointer;
}
.third-party .circle:not(:first-of-type){margin-left:5px;}  /* 设置第三方图标间距 */
.f{background: #339;}
.t{background: #6cf;}
.g{background: #f33;}
.zc{					/* 底部立即注册样式 */
	width:100%;
	font-size:10px;
	margin-top:20px;
	text-align: center;
}
.zc:hover,.no-password:hover{	/* 修改注册和忘记密码部分在鼠标悬停是的样式 */
	color:#66f;
	cursor:pointer;
}
.f:hover,.t:hover,.g:hover{background: black;} /* 修改第三方图标鼠标悬停时的样式 */
hr{					/* 提示下划线 */
	width:100%;
	height:2px;
	background:#333;
	position:absolute;
	left:-100%;
	bottom:2px;
	transition:0.5s ease;
	z-index: 9;
	border:none;
	margin:0;
}
#user_hr_true,#password_hr_true{background:green;} /* 验证通过时的下划线颜色 */
#user_hr_flase,#password_hr_flase{background:red;} /* 验证不通过是的下划线的颜色 */