/*****************************
 **本文件用于定义网站作品样式 **
 *****************************/

/*************************
 *本行用于定义导航栏状态
 *选中时显示蓝色横条
 **/
nav>div>a:nth-of-type(3)::before {
    background: #13C0E0;
}

.example{
	width:100%;
	height:800px;
	margin:50px 0;
	position:relative;
	background:#171A21;
}
.example>a{
	display: block;
	width:4.1%;
	height:9.7%;
	position:absolute;
}
.example>a:first-of-type{		/*爱心动画1*/
	left:17.8%;
	top:13%;
}
.example>a:nth-of-type(2){		/*爱心动画2*/
	left:30.4%;
	top:48.1%;
}
.example>a:nth-of-type(3){		/*Win xp*/
	left:47.2%;
	top:23.4%;
}
.example>a:nth-of-type(4){		/*弹动加载动画*/
	width:4.9%;
	height:8%;
	left:5.4%;
	top:44.8%;
}
.example>a:nth-of-type(5){		/*同心圆加载动画*/
	left:62.5%;
	top:18.2%;
}	
.example>a:nth-of-type(6){		/*下划线加载动画*/
	left:51.9%;
	top:62.25%;
}
.example>a:nth-of-type(7){		/*三级下拉菜单*/
	left:29.4%;
	top:28.5%;
}
.example>a:hover{box-shadow:0 0 3px 3px #fff;}
.example>a>img{
	width:100%;
	height:100%;
}
.example>h2{
	width:20%;
	color:#ABCD03;
	position:absolute;
	left:75%;
	top:20%;
	text-align: center;
	font:30px "剪纸";
}
.example>p{
	width:20%;
	height:30%;
	position:absolute;
	left:75%;
	top:27%;
	color:#ABCD03;
	text-indent:2em;
	letter-spacing: 5px;
}
.example>p>span{
	display: block;
	color:#fff;
	text-indent: 2em;
	margin-top:200px;
}
.example>p>span>a{
	color:red;
}