/*****************************
 **本文件用于定义网站联系我样式 **
 *****************************/

/*************************
 *本行用于定义导航栏状态
 *选中时显示蓝色横条
 **/
nav>div>a:nth-of-type(3)::before {
    background: #13C0E0;
}
.wenzi{
	width:60%;
	margin:40px auto;
}
.wenzi p{
	font-family: "卡通";
	font-size:37px;
	line-height:50px;
	text-align:center;
}
.wenzi>p:first-child{
	color:#1DD4AD;
}
.wenzi>p:nth-child(2){
	color:#61C2FB;
}
.wenzi>p:nth-child(3){
	color:#441CD5;
}
.wenzi>p:nth-child(4){
	color:#5603DA;
}
.wenzi>p:last-child{
	color:#9A04FC;
}
.erweima{
	width:100%;
	position:relative;
	color:#25C6FC;
	font-family: "剪纸";
	margin-bottom:50px;
	background:#171A21;
	padding:20px 0;
}
.erweima div{
	width:60%;
	text-align:center;
	margin:40px auto;
}
.erweima div>p{
	margin-bottom:15px;
	font-size:42px;
}
.erweima div>img{
	width:22vh;
}
.QQ>p>a{color:#25C6FC;}

.map{
	width:100%;
	height:800px;
	position:relative;
	box-sizing:border-box;
	background:#171A21;
	margin:30px 0;
	padding:20px;
}
.map>div:nth-of-type(1) {
    width: 25vw;
    height: 10vh;
    position: relative;
    margin:20px auto;
    color: #01F3CB;
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
    letter-spacing:15px;
}
.map>div:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1vh;
    left: 0;
}
#container{
	margin:-50px auto;
	width:80%;
	height:550px;
}