/*****************************
 **本文件用于定义网站主页样式 **
 *****************************/

/*************************
 *本行用于定义导航栏状态
 *选中时显示蓝色横条
 **/
nav>div>a:nth-of-type(1)::before {
    background: #13C0E0;
}
section {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom:40px;
}
section>div:nth-of-type(1) {
    width: 26vw;
    height: 5vh;
    position: relative;
    margin:20px auto;
    color: #01F3CB;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    letter-spacing:15px;
}
section>div:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top:1vh;
    left: 0;
}
section>a{
    display:block;
    position:absolute;
    bottom:30px;right:80px;
    font-size:30px;
    color:#0f3;
}
/************定义‘关于我’部分的样式***************/
.about_me{
	background:#171A21;
	margin-top:20px;
	border:1px solid #171A21;
	padding-bottom:50px;
}
.information,
.interest,
.evaluation {
    width: 45%;
    height: 17vh;
    color: #fff;
    margin:25px auto;
}
.about_me h3 {
    font-size: 30px;
    margin: 0 0 20px 0;
    position: relative;
}
.information h3::before {
    background: url(../../images/title03.png) no-repeat;
}
.interest h3::before {
    background: url(../../images/title02.png) no-repeat;
}
.evaluation h3::before {
    background: url(../../images/title01.png) no-repeat;
}
.about_me h3::before {
    content: "";
    background-size: 100% 100%;
    display: block;
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: -5px;
    left: -7vw;
}
.about_me table {
    margin-left: 4vw;
}
.about_me td {
    width: 15vw;
    display: inline-block;
    margin-bottom: 10px;
}
.about_me td:first-child {
    color: #01F3CB;
    font-size: 24px;
    font-weight: bolder;
}
.about_me td:last-child {
    font-size: 20px;
}
.about_me p {
    font-size: 20px;
    margin: 0 0 20px 4vw;
}

/************定义‘小作品’部分的样式***************/

.works{
    height:55%;
/*     border:1px solid red; */
    position:relative;
}
.works>iframe{
    width:80%;
    height:60%;
    position: absolute;
    left:50%;
    margin-left:-40%;
}
.works>h2{
	width:10vh;
    color:#fff;
    font-size:30px;
    position:absolute;
    top:74%;
    left:50%;
    text-align: center;
    margin-left:-5vh;
}
.works>p{
    width:80%;
    position:absolute;
    font-size:28px;
    color:#fff;
    text-indent:2em;
    line-height: 30px;
    top:80%;left:10%;
}

/******隐藏维护板块*****/
.weihu{height:0;width:0;overflow: hidden;}