/*****************************
 **本文件用于定义网站作品样式 **
 *****************************/

/*************************
 *本行用于定义导航栏状态
 *选中时显示蓝色横条
 **/
nav>div>a:nth-of-type(2)::before {
    background: #13C0E0;
}
.example{
	width:100%;
	position:relative;
	background:#171A21;
	margin:50px 0;
}
.example>img{width:0;height:0;}
.example>a{
	display: block;
	width:25vh;
	height: 25vh;
	margin:50px auto;
	background:url(../../images/works_border1.png) no-repeat;
	background-size:100% 100%;
}
.example>a:nth-child(2){
	margin-top:100px;
}
.example>a>img{
	width:96%;
	height:96%;
	margin:2% 2%;
}
.example>h2{
	width:20%;
	color:#ABCD03;
	position:absolute;
	top:0.8%;
	left:50%;
	margin-left:-10%;
	text-align: center;
	font:50px "剪纸";
}
.example>p{width:0;height:0;overflow:hidden;}