/********************************
 **本css文件用于定义网站相同样式
 **所有HTML文件都将引入本css文件
 */


/**********引入的外部字体***************/
@font-face {
    font-family: "汉仪乐喵体";
    src: url(../../font/汉仪乐喵体简.ttf);
}
@font-face{
    font-family:"雁翎";
    src:url(../../font/简雁翎.ttf);
}
@font-face{
    font-family: "卡通";
    src:url(../../font/简卡通.TTF);
}
@font-face{
    font-family: "剪纸";
    src:url(../../font/简剪纸.TTF);
}
/***************end********************/

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}
body {
    font-family: "微软雅黑";
    background:#202731;
}
/*****************定义header部分的样式*****************/

header {
    width: 100%;
    height: 85vh;
    position: relative;
}
header>img {
    width: 100%;
    height: 100%;
}
header>div {
    font: 30px "雁翎";
    color: #fff;
    position: absolute;
    width: 30vw;
    text-align: center;
    top: 40vh;
    left: 32vw;
}
header>div>span {
    font-size: 20px;
}
/**********定义导航栏样式*************/
nav {
    width: 100%;
    height: 9vh;
    background-color: rgba(1, 1, 1, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}
nav>div:first-child {
    color: #fff;
    font-family: "汉仪乐喵体";
    font-size: 2vw;
    margin: 2vh 0 0 12vw;
}

nav>div>div{
    display: inline-block;
    font-size:25px;
    width:30px;
    text-align:center;
    margin-left:-10px;
}
nav>div>div>span{
    font-size:13px;
    display:block;
    margin-top:-12px;
}

nav>div:nth-child(2) {
    width: 420px;
    height: 100%;
    position: absolute;
    right: 250px;
    top: 0px;
}
nav>div>a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    width: 15%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    margin-right:15px;
}
nav>div>a::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    float: left;
    margin-top: -25px;
}
nav>div>a:hover {
    background: rgba(141,155,155,0.7);
}
nav>img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top:13px;
    right:210px;
}
/*****************nav-end*****************/
/*********网站最后底部注意部分样式**********/
footer{
    width:100%;
    height:140px;
    box-sizing: border-box;
    background:#171A21;
    color:red;
    text-align: center;
    font-size:15px;
    padding-top:10px;
}
footer>p{margin-bottom:10px;}
footer>p:first-child{
    animation:jb 12s infinite;
    
}
footer>p:nth-child(2){
    animation: jb 12s 2s infinite;
}
footer>p:nth-child(3){
    animation: jb 12s 4s infinite;
}
footer>p:last-child{
    animation: jb 12s 6s infinite;
}
@keyframes jb{
    50%{color:#171A21;}
}
.weihu{height:0;overflow: hidden;}